* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h2 {
  font-size: 20px;
  margin: 15px 0;
  color: gray;
}

p {
  font-size: 20px;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #9139b5;
}

#quote-box {
  width: 450px;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
}

.actions {
  display: flex;
  align-items: center;
}

.main .button, #tweet-quote {
  background-color: #9139b5;
  border-color: #9139b5;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

#tweet-quote {
  margin-left: 15px;
  padding: 7px 10px;
  text-decoration: none;
}